*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

img{
    width: 100%;
}

.ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    text-align: center;
}

.content {
    width:90%;
    margin: auto;
}

.topo{
    background-color: #3d8df0;
    height: 50px;
    color:white;
}

#btn_menu{
    display: none;
}

.menu ul{
    display:flex;
    margin-top:1em;
}

.menu ul li{
    white-space: nowrap;
}

.menu a {
    padding: 0.9em 3em;
    color :white;
    text-transform: uppercase;
}

#menu_principal{
    display: block;
    z-index:3;
}

.conteudo_topo{
    display:flex;
    justify-content: space-evenly;
}

.conteudo_topo h1{
    padding: 0.5em 1em;
    margin-top:0em;
    margin-left: 0.2em;
    text-align: left;
    z-index: 2;
    white-space: nowrap;
}

.retangulo{
    height: 45px;
    width:130px;
    background-color:#f2a620;
    z-index: 55;
    margin: 0.5em  0.5em 0em 35em;
}

.retangulo p{
    color:white;
    font-size: 27px;
    margin-top: 0.3em;

}


.retangulo2{
    height: 45px;
    width:130px;
    background-color:#f2a620;
    z-index: 55;
    margin-top: 0.5em;
    
}

.retangulo2 p{
    color:white;
    font-size: 27px;
    margin-top: 0.3em;

}

.barra{
    height:130px;
    width: 30px;
    background-color: #3d8df0;
    display: flex;
    margin: 0em 0em 0em 0em;
    display: flex;
}


/* 
#btn_menu{
    display: block;
    padding: 0.8em;
    background: white;
    color: #000;
    margin-right: 1em;
}
*/

.banner>h2{
    position: absolute;
    padding: 0.5em 2em;
}

.banner{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.banner_texto{
    background-image: url("../img/banner.jpg");
    width: 100vw;
    height: 80vh;
}


.qualidades_flex{
    justify-content: space-around;
}

.qualidades_flex img{
    height: 25em;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.qualidades_flex p{
    text-indent: 2em;
}

h2{
    font-size: 60px;
    color: #f2a620;
    text-shadow: 2px 0px 0px white, 
    -1px 0px 0px white, 
    0px 1px 0px white, 
    0px -1px 0px white;
    text-align: center;
    /* margin: 3em 0em 4em 10em;  */
}

.banner img{
    height:300px;
    width: 300px;
    margin: 0em 4em 4em 2em;
}

.texto_barra{
    margin: 2em 3em 4em 6em;
    text-align: center;
}

.barra{
    margin-top: 1em;
}

.texto_barra h2{
    margin-left:0.5em;
    margin-top: 0.6em;
}

.pacotes{
    background-color: #3d8df0;
    height: 320px;
}
.pacotes h3{
    padding-top:0.2em;
    text-align: justify;
    margin-left: 1em; 
    font-size: 45px;
    color: white;
}

.promocoes{
    background-color: #f2a620;
    height: 200px;
    width: 200px;

}

.teste{
    display: flex;
}


.prom-box{
    justify-content: space-around;
    margin-right: 4em;

}

.promocoes h4{
    font-size: 27px;
    margin-top: 0.5em;
}

.promocoes p{
    line-height: 1.5em;
    font-size: 17px;
    padding-bottom: 10%;
}

.promocoes a {
    background-color:#3d8df0;
    color:white;
    font-size: 20px;
}

.quem_somos h3{
    font-size: 40px;
    text-align: center;
    margin-top: 1em;
    text-decoration: underline;
}

.quem_somos p{
    text-align: left;
    margin: 2em 8em 0em 0em;
    margin-left: 16em;
    font-size: 20px;
}

.foto{
    display: flex;
    width: 230px;
    height:280px;
    float: left;
    margin-top:-0.5em;
    margin-left: 4em;
}

.quem_somos2 p{
    text-align: end;
    font-size: 20px;
    margin-top: 2em;
    margin-right: 1em;
    margin-left: 4em;

}

.foto2{
    display: flex;
    width: 230px;
    height:280px;
    float: right;
    margin-top: 1em;
    margin: 1em 6em 0em 0em;
}

.como_usar{
    background-color:#3d8df0;
    height:530px; 
    margin-top: 1em;
    
}

.como_usar h3{
    font-size: 43px;
    text-decoration: underline;
    text-align: center;
}

.como_usar p{
    font-size: 25px;
    text-align: center;
    margin-top: 2em;
    line-height: -2em;
}

.qualidades_flex h3{
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
    margin-top: 0.5em;
}

.qualidades_flex p{
    font-size: 25px;
    text-align: left;
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
}


.FAQ {
    background-color:#3d8df0;
    height: 530px;
}

.FAQ h3{
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
    margin-top: 0.5em;
}

.FAQ h4{
    font-size: 20px;
    margin-top: 1em;
    margin-left: 1em;
}

.FAQ p{
    font-size: 17px;
    text-align: left;
    margin-left: 2em;
}

.bloco1{
    margin-left: 6em;
    margin-top: 2em
}

.bloco2 {
    margin-left: 7em;
    margin-top: 2em;
}

#local{
    margin-top: 2em;
}

.rodape{
    background-color: #3d8df0;
    text-align:center;
    padding: 1em;
    text-align: center;
    color: black;
    font: bold;
}

.rodape a{
    color: white;
}

@media (max-width:1355px){
    .conteudo_topo nav a{
        padding: 1em 2em;
    }
    .menu ul{
        font-size: 65%;
    }
}

@media (max-width:1075px){
    .conteudo_topo nav a {
        padding: 1em 1.5em;
    }
    .banner h2{
        left:20%;
        font-size:28px;
    }

    .bloco1 {
        margin-top: 1em;
    } 

    .bloco2{
        margin-top: 1em;
    }

    .FAQ p{
        font-size: 14px;
    }
    .FAQ h4{
        font-size: 16px;
    }
}